<!DOCTYPE html>
<html lang="en">
<head>
    {% load i18n %}
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href='{% static "css/style.css" %}'>
    <script type="text/javascript" src='{% static "js/jquery-3.1.0.min.js" %}'></script>
    <script type="text/javascript" src='{% static "js/scripts.js" %}'></script>
</head>
<body>
    <header>
        {% get_available_languages as languages %}
        {% for lang_code, lang_name in languages %}
            {% language lang_code %}
            {% if product.id %}
                <a class="lang" href="{% url request.resolver_match.url_name  id=product.id %}">{{ lang_name }}</a>
            {% else %}
                <a class="lang" href="{% url request.resolver_match.url_name %}">{{ lang_name }}</a>
            {% endif %}
            {% endlanguage %}
        {% endfor %}
        {% if user.is_authenticated %}
            <p>{% trans "Добро пожаловать" %}, <b>{{user}}</b></p>
            <p  class="btn"><a href="{% url 'logout' %}">{% trans "Выход" %}</a></p>
        {% else %}
            <p class="btn"><a href="{% url 'login' %}">{% trans "Вход" %}</a></p>
            <p class="btn"><a href="{% url 'register' %}">{% trans "Регистрация" %}</a></p>
        {% endif %}
        <a href="{% url 'products_list' %}" class="main_link">{% trans "Все товары" %}</a>
        <a href="{% url 'cart' %}" class="cart">{% trans "Корзина" %} (<span id="number">{{cart.count}}</span>)</a>
    </header>
    {% block content %}

    {% endblock %}

    <div class="overlay"></div>
    <div id="myModal" class="popup">
        <a title="Закрыть" class="close_window">&#215;</a>
        <p class="add_to_cart_popup">{% trans "Товар добавлен в" %} <a href="{% url 'cart' %}">{% trans "корзину" %}</a>!</p>
    </div>
</body>
</html>