{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% block title %}{% trans "Каталог" %}{% endblock %}

{% block content %}

    {# if user.is_authenticated #}
        <div class="add_product">
            <a href="{% url 'add_product' %}">
                <img src='{% static "images/add-p.png" %}' alt=''>
                {% trans "Добавить новый товар" %}
            </a>
        </div>
        <!--<a href="{% url 'add_buyer' %}" class="add_buyer">{% trans "Новый покупатель" %}</a>-->
    {# endif #}

    <div class="filter form">
        {% include 'sort_and_search.html' %}
    </div>
    <table class="products">
        <thead>
            <tr>
                <td class="image">{% trans "Изображение" %}</td>
                <td>{% trans "Наименование товара" %}</td>
                <td>{% trans "Цена за 50 грамм" %}</td>
                {% if user.is_authenticated %}
                    <td>{% trans "Количество" %}</td>
                {% else %}
                    <td style="text-align: center;">{% trans "Наличие" %}</td>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% if products %}
                {% for product in  products %}
            {{ product.photo.url }}
                    <tr class="hover_tr">
                        <td class="image"><img src='{{url}}{{product.photo}}'></td>
                        <td>
                            <a class="name_product" href="{% url 'product_detail' id=product.id %}">{{product.name}}</a>
                        </td>
                        <td>{{product.price}} грн</td>
                        {% if user.is_authenticated %}
                            {% comment %}Translators: грамм{% endcomment %}
                            <td>{{product.quantity}} {% trans "гр" %}</td>
                        {% else %}
                            {% if product.quantity > 0 %}
                                <td class="existence"><img src='{% static "images/yes.png" %}' title='{% trans "Есть в наличии" %}'></td>
                            {% else %}
                                <td class="existence"><img src='{% static "images/no.png" %}' title='{% trans "Нет в наличии" %}'></td>
                            {% endif %}
                        {% endif %}
                    </tr>
                {% endfor %}
            {% endif %}
        </tbody>
    </table>

    {% if is_paginated %}
        <div class="pagination">
            <ul>
                {% if page_obj.has_previous %}
                    <li>
                        <a href="{% url 'products_list' page=page_obj.previous_page_number %}{% if request.GET.urlencode %}?{{request.GET.urlencode }}{% endif %}">
                            <<
                        </a>
                    </li>
                {% endif %}
                {% for page in page_obj.paginator.page_range %}
                    {% if page_obj.number == page %}
                        <li class="active">
                            <a href="{% url 'products_list' page=page %}{% if request.GET.urlencode %}?{{request.GET.urlencode }}{% endif %}">
                                {{page}}
                            </a>
                        </li>
                    {% else %}
                        <li>
                            <a href="{% url 'products_list' page=page %}{% if request.GET.urlencode %}?{{request.GET.urlencode }}{% endif %}">
                                {{page}}
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                    <li>
                        <a href="{% url 'products_list' page=page_obj.next_page_number %}{% if request.GET.urlencode %}?{{request.GET.urlencode }}{% endif %}">
                            >>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    {% endif %}

{% endblock %}